<a href="https://colab.research.google.com/github/jandroi/3_2_BD/blob/main/Evaluated_Exercise_II_B_s0572034.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Evaluated Exercise Part 2 – SciKit-Stack and Deep Learning**

## Task 4: Deep Learning – Run a Deep Learning Model: Build a Loan Amount Calculator using Multiple Linear Regression [10%]

Use the diamonds dataset from Task 3 to perform a Deep Learning (Regression) model. Target variable is again price.

Please describe all steps. Parameters to evaluate are MAE and MAPE. Please report results for test and training dataset! Packages: Tensorflow and Keras

-----

In [15]:
import pandas as pd
import numpy as np

# Data Preparation 
from keras.utils import to_categorical
# StandardScaler
from sklearn.preprocessing import StandardScaler
### Train / Test Split
from sklearn.model_selection import train_test_split

## 
from keras.layers import Dense
from keras.models import Sequential

In [16]:
# Data import

url="https://raw.githubusercontent.com/tidyverse/ggplot2/master/data-raw/diamonds.csv"
df =pd.read_csv(url)

## Data Understanding

*Same as Exercise II A*

https://colab.research.google.com/drive/1jLPeK0Fdru6QMtOpkd0cbmJ2t5qxeNvu?authuser=3#scrollTo=uEbqLh33Kp8e&line=3&uniqifier=1

## Data Preparation 
  (please change the order of the tasks as needed)

- Missing Values
- Transformation of all categorical variables
- Split into Test and Training Dataset
- Standardization
- …

### L

In [17]:
# First we remove Depth and Table which have no direct correlation

df = df.drop(['depth','table'], axis = 1)
df.head()

# There are some missing values for the dimensinos x y z
# We are dropping these observations since there can be a dimension of 0 but not 3 of them

x = list(df[(df['x']==0) & (df['y']==0) & (df['z']==0)].index)
x

# Exclude them from dataframe
df = df[~df.index.isin(x)]

In [18]:


# Transforming categorical variables: 
cut_df = pd.get_dummies(df['cut'], prefix='cut')
color_df = pd.get_dummies(df['color'], prefix='color')
clarity_df = cut_df = pd.get_dummies(df['clarity'], prefix='clarity')

df_metric = df.drop(['cut', 'color','clarity'], axis=1) 

df_metric = pd.concat([df_metric, cut_df, color_df, clarity_df], axis =1)
df_metric.head()

   carat  price     x  ...  clarity_VS2  clarity_VVS1  clarity_VVS2
0   0.23    326  3.95  ...            0             0             0
1   0.21    326  3.89  ...            0             0             0
2   0.23    327  4.05  ...            0             0             0
3   0.29    334  4.20  ...            1             0             0
4   0.31    335  4.34  ...            0             0             0

[5 rows x 28 columns]

In [19]:
# Train test split
#X = df.drop('price', axis=1)
X= df_metric.drop(['price'], axis=1).values
y = df_metric['price'].values

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=.7, random_state=42)

In [21]:
# Scaling Variables
sc = StandardScaler()
sc.fit(X_train,y_train)

X_train_sc = sc.transform(X_train)
X_test_sc = sc.transform(X_test)

## Modeling
- Run a simple Multiple Linear Regression Model using Tensorflow/Keras!
- Run a Multiple Linear Regression Deep Learning Model (experiment with a few layers) using Tensorflow/Keras!

### Simple Multiple Linear Regression

In [22]:
n_cols = X_train.shape[1]

In [23]:
model = Sequential()

model.add(Dense(100, activation = 'relu', input_shape = (n_cols,)))

# One output layer
model.add(Dense(1, activation = 'relu'))

In [24]:
model.compile(optimizer="rmsprop", loss="mean_squared_error", metrics=['mae','mape'])

In [25]:
model.fit(X_train_sc, y_train,epochs = 20, batch_size = 128)

Epoch 1/20
295/295 [==============================] - 2s 4ms/step - loss: 27444595.5541 - mae: 3599.0065 - mape: 90.0414
Epoch 2/20
295/295 [==============================] - 1s 4ms/step - loss: 3395599.2500 - mae: 1031.5196 - mape: 32.6465
Epoch 3/20
295/295 [==============================] - 1s 4ms/step - loss: 1130601.5232 - mae: 591.9535 - mape: 25.1479
Epoch 4/20
295/295 [==============================] - 1s 4ms/step - loss: 1037015.7200 - mae: 478.9093 - mape: 16.4456
Epoch 5/20
295/295 [==============================] - 1s 4ms/step - loss: 599911.5775 - mae: 411.6069 - mape: 12.3729
Epoch 6/20
295/295 [==============================] - 1s 4ms/step - loss: 678643.0383 - mae: 396.8584 - mape: 11.2934
Epoch 7/20
295/295 [==============================] - 1s 4ms/step - loss: 661687.3399 - mae: 381.8867 - mape: 11.0538
Epoch 8/20
295/295 [==============================] - 1s 4ms/step - loss: 747630.2209 - mae: 381.1109 - mape: 11.0053
Epoch 9/20
295/295 [==============================] - 1s 4ms/step - loss: 822117.7765 - mae: 374.4116 - mape: 10.8680
Epoch 10/20
295/295 [==============================] - 1s 4ms/step - loss: 875724.2978 - mae: 370.8331 - mape: 10.6912
Epoch 11/20
295/295 [==============================] - 1s 4ms/step - loss: 935702.0746 - mae: 364.9827 - mape: 10.5031
Epoch 12/20
295/295 [==============================] - 1s 4ms/step - loss: 611791.6015 - mae: 360.9647 - mape: 10.2487
Epoch 13/20
295/295 [==============================] - 1s 4ms/step - loss: 433353.1160 - mae: 344.0518 - mape: 9.9428
Epoch 14/20
295/295 [==============================] - 1s 4ms/step - loss: 506929.0138 - mae: 348.7847 - mape: 9.9536
Epoch 15/20
295/295 [==============================] - 1s 4ms/step - loss: 797309.7102 - mae: 355.0275 - mape: 9.8793
Epoch 16/20
295/295 [==============================] - 1s 4ms/step - loss: 444799.9732 - mae: 350.3332 - mape: 9.7683
Epoch 17/20
295/295 [==============================] - 1s 4ms/step - loss: 474333.6314 - mae: 345.3014 - mape: 9.6572
Epoch 18/20
295/295 [==============================] - 1s 4ms/step - loss: 676468.0127 - mae: 348.6913 - mape: 9.6916
Epoch 19/20
295/295 [==============================] - 1s 4ms/step - loss: 1379683.0175 - mae: 356.6761 - mape: 9.7006
Epoch 20/20
295/295 [==============================] - 1s 4ms/step - loss: 702618.5725 - mae: 345.4123 - mape: 9.6694

In [26]:
y_pred = model.predict(X_test_sc)

In [27]:
score = model.evaluate(X_test_sc,y_test, batch_size=32)

506/506 [==============================] - 1s 1ms/step - loss: 631250.2500 - mae: 337.2850 - mape: 10.0353

### Multiple Regression

In [28]:
model = Sequential()

model.add(Dense(500, activation = 'relu', input_shape = (n_cols,)))
model.add(Dense(250, activation = 'relu'))
model.add(Dense(100, activation = 'relu'))
model.add(Dense(50, activation = 'relu'))

# One output layer
model.add(Dense(1, activation = 'relu'))

In [29]:
model.compile(optimizer="rmsprop", loss="mean_squared_error", metrics=['mae','mape'])
model.fit(X_train_sc, y_train,epochs = 20, batch_size = 128)

Epoch 1/20
295/295 [==============================] - 3s 7ms/step - loss: 11443268.0625 - mae: 1829.2514 - mape: 50.5378
Epoch 2/20
295/295 [==============================] - 2s 7ms/step - loss: 782876.6939 - mae: 401.2161 - mape: 11.3808
Epoch 3/20
295/295 [==============================] - 2s 7ms/step - loss: 717307.3495 - mae: 376.7783 - mape: 10.8762
Epoch 4/20
295/295 [==============================] - 2s 7ms/step - loss: 849718.1478 - mae: 375.5046 - mape: 10.6719
Epoch 5/20
295/295 [==============================] - 2s 7ms/step - loss: 499904.5006 - mae: 361.2490 - mape: 10.4086
Epoch 6/20
295/295 [==============================] - 2s 7ms/step - loss: 643283.3036 - mae: 361.9725 - mape: 10.2231
Epoch 7/20
295/295 [==============================] - 2s 7ms/step - loss: 450785.2487 - mae: 361.1669 - mape: 10.1025
Epoch 8/20
295/295 [==============================] - 2s 7ms/step - loss: 585770.2878 - mae: 377.7027 - mape: 10.3715
Epoch 9/20
295/295 [==============================] - 2s 7ms/step - loss: 777859.7143 - mae: 360.2277 - mape: 10.1364
Epoch 10/20
295/295 [==============================] - 2s 7ms/step - loss: 440505.7029 - mae: 356.7133 - mape: 9.9901
Epoch 11/20
295/295 [==============================] - 2s 7ms/step - loss: 448728.3394 - mae: 350.5088 - mape: 10.1280
Epoch 12/20
295/295 [==============================] - 2s 7ms/step - loss: 466814.1327 - mae: 355.1874 - mape: 10.0661
Epoch 13/20
295/295 [==============================] - 2s 8ms/step - loss: 531385.0955 - mae: 350.6731 - mape: 9.9189
Epoch 14/20
295/295 [==============================] - 2s 7ms/step - loss: 501795.4464 - mae: 358.7799 - mape: 9.9972
Epoch 15/20
295/295 [==============================] - 2s 7ms/step - loss: 429988.4146 - mae: 347.3994 - mape: 9.9185
Epoch 16/20
295/295 [==============================] - 2s 7ms/step - loss: 555652.3024 - mae: 355.4167 - mape: 10.0576
Epoch 17/20
295/295 [==============================] - 2s 7ms/step - loss: 445523.4002 - mae: 352.9949 - mape: 9.9861
Epoch 18/20
295/295 [==============================] - 2s 7ms/step - loss: 528257.9180 - mae: 351.6601 - mape: 9.8737
Epoch 19/20
295/295 [==============================] - 2s 7ms/step - loss: 444226.4375 - mae: 350.0969 - mape: 9.8843
Epoch 20/20
295/295 [==============================] - 2s 8ms/step - loss: 470779.3846 - mae: 352.6856 - mape: 10.0343

In [30]:
y_pred = model.predict(X_test_sc)

In [31]:
score = model.evaluate(X_test_sc,y_test, batch_size=32)

506/506 [==============================] - 1s 2ms/step - loss: 550033.8125 - mae: 329.6341 - mape: 9.7244

In [32]:
residuals = y_test - y_pred
residuals.reshape(-1,1)

array([[ 221.48138428],
       [ 418.48138428],
       [4704.48138428],
       ...,
       [1616.03320312],
       [5221.03320312],
       [ 253.03320312]])